.jp1{
    margin: 40px 20px;
    padding: 20px;
}

.caro{
    height: 500px;
    width: 400px;
    
    
    
}
.caro img{
    height: 400px;
    width: 400px;
}
.h3{
    
    margin: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.caro h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;

}
.caro p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: grey;
    margin-top: 10px;
}
.caro label{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    padding-top: 15px;

}