.head3{
    background-color: rgb(241, 236, 236);
    text-align: center;
    padding: 15px;
}
.head3 h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.head3 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    text-decoration: underline;
}